/* Input Syles */
.areaInputContainer{
    padding: 1rem;
    background-color: white;
    width: 100vw;
    margin: 0 auto;
    background: #FFFFFF;
    background: -moz-linear-gradient(left, #FFFFFF 0%, #FAFAFA 100%, #C5C5C5 100%);
    background: -webkit-linear-gradient(left, #FFFFFF 0%, #FAFAFA 100%, #C5C5C5 100%);
    background: linear-gradient(to right, #FFFFFF 0%, #FAFAFA 100%, #C5C5C5 100%);
}

.areaForm{
    width: 50%;
    margin: auto;
    text-align: center;
}

.areaLabel{
    font-size: 1.5rem;
    padding: 0.5rem 0;
    width: 100%;
    margin: auto;
    font-size: 1.75rem;
    font-weight: bold;
}

.areaSelect{
    border-radius: 10px;
    margin-bottom: 0.5rem;
    outline: none;
}

.areaSelect:hover{
    transform: scale(1.05);
    -webkit-box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.158);
}

.areaInputSubmit{
    border-radius: 20px;
    padding: 0.25rem 1.5rem;
    background-color: orange;
}

.areaInputSubmit:hover{
    transform: scale(1.05);
    -webkit-box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.158);
}

/* Display Styles */
.areaDisplayContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 90vw;
    margin: 1rem auto;
    
}

.areaItemContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.158);
}

.areaItemContainer:hover {
   transform: scale(1.05);
}

.areaItemContainer h1{
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 0;
    font-weight: bold;
}

.areaItemContainer img {
    width: 70%;
    margin-left: 15%;
    margin-top: 1rem;
}

.areaItemContainer a {
    text-decoration:  none;
    text-align: center;
}

.areaItemContainer a button{
    border-radius: 20px;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 0.85rem;
}

.areaItemContainer a button:hover{
    transform: scale(1.05);
}