.icons {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 0 ;
}

.iconCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25%;
    padding: 1rem 0;
    text-align: center;
    -webkit-box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.158);
}

.iconCard a{
    text-decoration: none;
    color: black;
}

.iconCard a:hover{
    color: black;
}

.iconCard:hover{
    transform: scale(1.075);
    box-shadow: 1px 2px 10px #f5b20a;
    transition: all 0.15s ease-in-out;
}

.icons p{
    max-width: 90%;
    margin: 0 auto;
}

.iconImg{
    width: 150px;
}

.iconsBtn{
    background-color: #f5b20a;
    color: black;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-top: 0.75rem;
    border: none;
    border-radius: 5px;
}

@media (max-width: 700px){
    .icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .iconCard{
        margin: 1rem;
        max-width: 60%;
        padding: 1rem
    }

    .iconImg{
        width: 150px;
    }
}