.landingPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    background-image: url(../Images/LandingPageImg3.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.headingContainer{
    position: relative;
    left: 10%;
    bottom: 8%;
    color: white;
    max-width: 300px;
    font-size: 1.5rem;
}

@media (max-width: 700px){
    .landingPageContainer{
        background-position: 100%;
        background-repeat: no-repeat;
    }

    .headingContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        max-width: 170px;
        position: relative;
        left: 0%;
        bottom: 15%;
        text-align: center;
        color:white;
        font-size: 1.25rem;
        background-color: black;
        opacity: 0.7;
        border-radius: 5px;
        padding: 0.75rem;
    }
}

