/* Desktop Navigation Styling */

.nav-list {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    background-color: #010413;
    color: white;
    margin: 0;
    margin-right: 10vw;
    padding-left: 0;
}

.nav-list img{
    margin-left: 10vw;
}

.nav-list li {
    list-style-type: none;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: white
}

.nav-list li:hover{
    background-color: #6a040f;
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
    border-radius: 5px;
}

.nav-list a{
    text-decoration: none;
}

.responsiveNav{
    display: none;
}

/* Mobile Nav Links Styling */


    .mobileNavLinks{
        padding: 0;
        margin: 0;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        background-color: black;
        color: white
    }

    .mobileNavLinks a {
        text-decoration: none;
        color: white;
    }

    .mobileNavLinks a:hover{
    background-color: #6a040f;
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
    border-radius: 5px;
    color: white;
     padding: 1rem 1.5rem;
    }


/* Mobile Navigation Styling */

@media (max-width: 700px) {

    .nav-list{
        display: none;
    }

    .responsiveNav{
        width: 100vw;
        display: flex;
        align-items: center;
        height: 10vh;
        background-color: black;
        color: white;
        margin-bottom: 0;
    }

    .img1{
        position: relative;
        left: 10vw;
    }

    .burgerMenu{
        background-color: white;
        width: 50px;
        border-radius: 10px;
        margin-left: auto;
        position: relative;
        right: 20px;
    }

    .burgerMenu:hover{
        transform: scale(1.1);
    }

    .burgerMenu:active {
        transform: scale(1.2)
    }

}

/* NAVIGATION LINKS BREAKING POINT */ 
@media (max-width: 878px) and (min-width: 701px){
    .nav-list{
        margin-right: 5vw;
    }

    .nav-list li {
        padding: 1rem;
    }
    .img1{
        position: relative;
        left: -5vw;
    }
}

@media (max-height: 600px){
    .img1{
        width: 80%;
    }
}