/* Whats in your pantry Background Image Styles */
.pantryContainer{
    width: 100vw;
    height: 90vh;
    background-image: url(../Images/WhatsInYourPantry.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Input.js Styles */
.pantryInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: auto;
    background-color: black;
    opacity: 1;
    padding: 2rem 1.5rem;
}

.pantryInput label{
    color: white;
    font-size: 1rem;
}

.pantryInput input{
    width: 100%;
    margin-top: 5%;
}

.pantryInput input:focus {
    outline: none;
}

/* Manipulate Data Styles */
.manipulateDataContainer{
    width: 90vw;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: black;
    opacity: 0.95;
}

.manipulateDataItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    text-decoration: none;
}

.manipulateDataItem:hover{
    transform: scale(1.05);
}

.manipulateDataHeading{
    font-size: 1rem;
    color: white;
    padding: 0.5rem 0.25rem;
    border-bottom: 1px solid white;
}

.manipulateDataImage{
    width: 300px;
    padding: 1rem;
}

@media (max-width: 700px){
    .manipulateDataContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../Images/WhatsInYourPantry.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .manipulateDataItem{
        background-color: black;
    }
}